<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>11:00 ET / 9:00 MT</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>12:30 ET / 10:30 MT</td>  <td>Adjourn for the day</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>11:00 ET / 9:00 MT</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>13:30 ET / 11:30 MT</td>  <td>Break</td> </tr>
      <tr> <td>14:30 ET / 12:30 MT</td>  <td>Building Programs with Python</td> </tr>
      <tr> <td>16:45 ET / 14:45 MT</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00 ET / 15:00 MT</td>  <td>Adjourn</td> </tr>
    </table>
  </div>
</div>
